@model Calc.Models.TResult
@{
    ViewBag.Title = "Calc";
    Layout = "";
}

@using (Html.BeginForm("Calc","Home"))
{
    <table>
        <tr>
            <td>
                <input type="text" id="arg1" name="arg1" value="@Model.arg1" />
            </td>
            <td>
                <select name="math">
                    <option></option>
                    <option @Model.math=="+" ? "selected='selected'":"" >+</option>
                    <option @Model.math=="-" ? "selected='selected'":"">-</option>
                    <option @Model.math=="*" ? "selected='selected'":"">*</option>
                    <option @Model.math=="/" ? "selected='selected'":"">/</option>
                </select>
            </td>
            <td>
                <input type="text" id="arg2" name="arg2" value="@Model.arg2" />
            </td>
            <td>
                <input type="submit" value="=" />
            </td>
            <td>
                <span>@Model.result</span>
            </td>
     </tr>
        <tr><td>@Html.ActionLink("Таблица результатов", "ViewR")</td>
        </tr>       
        
    </table>
}